<div id="container">
  <div id="logo">
    <img src="" alt="Logo" />
  </div>
  <div id="links">
    <div class="link" routerLink="">Najnovije vijesti</div>
    <div class="link" routerLink="coming">Uskoro stiže</div>
    <div class="link" routerLink="about">O nama</div>
    <div class="link" routerLink="contact">Kontakt</div>
    <div class="link" routerLink="location">Lokacija</div>


    <div class="dropdown">
      <div class="link">Prijava/Registracija</div>
      <div class="dropdown-content">
        <a href="login">Prijava</a>
        <a href="register">Registracija</a>
      </div>
    </div>
  </div>
</div>
