<section id="locations">
  <div class="location-container">
    <div class="location">
      <h2>Kancelarija 1</h2>
      <p>Adresa: Mehmeda Paše 12, Sarajevo, Bosna i Hervegovina</p>
      <p>Telefon: +38762211432</p>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
    <div class="location">
      <h2>Kancelarija 2</h2>
      <p>Adresa: Ismeta Mujezinovića 32, Tuzla, Bosna i Hercegovina</p>
      <p>Telefon: +38762211854</p>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
    <div class="location">
      <h2>Kancelarija 3</h2>
      <p>Adresa: Ulica 11, Mostar, Bosna i Hercegovina</p>
      <p>Telefon: +38762211362</p>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>
